# Ignorar builds de Flutter
apexo-flutter/build/
apexo-flutter/.dart_tool/
apexo-flutter/.idea/
apexo-flutter/.vscode/

# Ignorar datos de PocketBase
DentalFull/backend/pb_data/

# Ignorar temporales
*.log
*.tmp
